<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>In The Mood For</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/in_the_mood_for.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/textualizer.min.js"></script>
    <script src="/static/js/textualizer.js"></script>
    <script src="/static/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="/static/js/in_the_mood_for.js"></script>

</head>
<body>
    <div class="data_test"><h5>API Results to go here.</h5></div>
    <div id="txtlzr-output"></div>


    <div class="leftcurtain"> <img src="/static/images/frontcurtain.jpg"></div>
    <div class="rightcurtain"> <img src="/static/images/frontcurtain.jpg"></div>
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="popcorns">
                <ul class="click-zone">
                    <div class="col-md-1 col-centered padding" id="horror"><img src="/static/images/popcorn_horror2.png"></div>
                    <div class="col-md-1 col-centered padding" id="sci_fi-fantasy"><img src="/static/images/popcorn_fantasy.png"></div>
                    <div class="col-md-1 col-centered padding" id="comedy"><img src="/static/images/popcorn_comedy.png"></div>
                    <div class="col-md-1 col-centered padding" id="action"><img src="/static/images/popcorn_action.png"></div>
                    <div class="col-md-1 col-centered padding" id="documentary"><img src="/static/images/popcorn_documentary.png"></div>
                    <div class="col-md-1 col-centered padding" id="kids"><img src="/static/images/popcorn_kids.png"></div>
                    <div class="col-md-1 col-centered padding" id="romance"><img src="/static/images/popcorn_romance.png"></div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>