li a {
    color: green;
}

/*
body {
    background: white url("images/catjumping.gif") no-repeat right bottom;
}*/

.jumbotron {
    background-color: grey;
    text-align: center;
}

.buttons {
    padding: 5px;
    width: 200px;
}